# Compiled class files
*.class
.DS_Store
# Jar/War/Ear files
*.jar
*.war
*.ear

# Maven
/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
/build/
*.log
!gradle-wrapper.jar # Keep the Gradle wrapper jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.classpath
.project
.settings/
bin/

# VS Code
.vscode/

# Log files
*.log

test-output/

# Temporary files
*~
*.bak
*.swp
.DS_Store # macOS specific
Thumbs.db # Windows specific

# Configuration files (if sensitive or local)
# application.properties # Example, if you have sensitive local configs
# application-local.properties