<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Apex LLM Framework" parallel="classes" thread-count="10">
    <listeners>
        <listener class-name="com.epam.reportportal.testng.ReportPortalTestNGListener"/>
    </listeners>
    <test name="Full Suite">
        <packages>
            <package name="com.apex.llm.tests.*"/>
        </packages>
    </test>
</suite>