<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo Tests RAG and Orchestration" parallel="methods" thread-count="10">



    <test name="All Tests">
    
        <classes>

            <class name="com.aidemoproject.tests.HallucinationValidatorTest"/>
            <class name="com.aidemoproject.tests.TestFlowOrchestration"/>

            <class name="com.aidemoproject.tests.TestOrchestrationFailure"/>
            <class name="com.aidemoproject.tests.PromptRegressionTest"/>

          <class name="com.aidemoproject.tests.TestRagFailure"/>
         <class name="com.aidemoproject.tests.FullValidationJourneyTest"/>

            <class name="com.aidemoproject.tests.CopyFullValidationJourneyTest"/>




        </classes>
    </test>
</suite>