<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo Tests RAG and Orchestration">
<listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="All Tests">
    
        <classes>
            <class name="com.aidemoproject.validator.retrieval.RAGValidatorTest"/>
            <class name="com.aidemoproject.validator.compliance.TestOrchestartion"/>
        </classes>
    </test>
</suite>